body {
  margin: auto;
  
}

.calc-container {
  width: 40%;
  margin: auto;
}

.screen {
  background-color: #babac5;
  margin: 5px 0 0;
  height: 50px;
  text-align: end;
}

.button-column {
  width: 25%;
  height: 50px;
}

.orange {
  background-color: #f5b070;
}

.last {
  width: 50%;
}

.button-column-1 {
  width: 50%;
  height: 50px;
}

.button-column-2 {
  width: 25%;
  height: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color:#3f869c;
  width:100%;
  color: white;
}

.menu ul {
  display: flex;
  list-style: none;
  
}

.menu li{
  margin: 1rem;
  
}
.menu li a {
  text-decoration: none;
  color: white;
}

.quotes-paragraph {
  align-items: center;
}